:host {
  display: block;
  width: 100%;
}

.input-wrapper {
  width: 100%;
  display: flex;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.3s ease;
  box-sizing: border-box; /* Evita que o padding quebre o tamanho */
}
