// Cores principais do tema
$primary-color: #6ECB98;
$secondary-color: #64B5F6;
$warning-color: #FFF176;
$danger-color: #FF8A80;
$success-color: #81C784;
$info-color: #4FC3F7;

// Outras cores opcionais
$dark-color: #212121;
$light-color: #F5F5F5;
$text-color: #333;
