/* Centraliza toda a tela */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97vh;
  background: linear-gradient(to right, #141414, #1f1f1f); /* Fundo estilo Netflix */
  margin-top: 0;
  background: url('/background-login.jpg');
}
body{

}
