body {
  font-family: Arial, sans-serif;
  background-color: #141414;
  color: white;
}

.login-container, .home-container, .video-container {
  text-align: center;
  margin-top: 50px;
}

.video-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.video-item {
  cursor: pointer;
  text-align: center;
}
.video-item img {
  width: 150px;
  border-radius: 8px;
}

/* Botao cor*/
.btn-primary {
  background-color: #6ECB98;
}

.btn-secondary {
  background-color: #64B5F6;
}

.btn-warning {
  background-color: #FFF176;
}

.btn-danger {
  background-color: #FF8A80;
}

.btn-success {
  background-color: #81C784;
}

.btn-info {
  background-color: #4FC3F7;
}
